@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: ; */
    margin: auto;
    width: 100vw;
    overflow-x: hidden;
    background-image:linear-gradient(to right,rgb(213, 189, 236),rgb(239, 238, 241))
}
.title{
text-align: center;
    background-color: blueviolet;
    color:#fff;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px;
    font-size: 24px;
}
.name{
    color: blueviolet;
}
input{
    margin: 10px 0;
}
h1{
    text-align: center;
    font-size: 64px;
    margin: 40px 0;
    font-family: 'Josefin Sans', sans-serif;
}
h3{
    margin: 15px; 
    text-align: center;
}
.welcome{
    color: rgb(89, 37, 138);
}
#map-link{
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
    color:rgb(100, 100, 100);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post-container{
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.sub-container{
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 1px 0px 8px rgb(224, 223, 223);
    background-color: rgb(241, 241, 241);
    padding: 10px;
    border-radius: 10px;
}
.input{
    margin: 10px;
}

.newPost{
    background-color: rgb(238, 235, 255);
    border-radius: 10px;
    margin:20px;
    box-shadow: 1px 1px 10px gray;
    padding: 10px;  
}
.newPost small{
    color: rgb(100, 100, 100);
}

textarea{
    width: 73vw;
    border: none;
    padding: 30px;
    border-radius: 20px;
    height: 100px;
}
#post-btn{
    border: none;
    background-color: rgb(96, 52, 138);
    color: rgb(255, 249, 249);
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
#post-btn:hover{
    box-shadow: 1px 5px 10px grey;
    background-color: rgb(96, 9, 177);
}
.likeContainer{
    display: flex;
}
.likeContainer button{
    margin-top: 5px;
    margin-right: 8px;
    padding: 3px 6px;
    border: none;
    background-color: blueviolet;
    color: rgb(255, 249, 249);
    border-radius: 3px;
}
#like{
    display: flex;
    margin-left: 13rem;
}
.material-icons{
    color: rgb(150, 27, 27);
}
/* image styles */
img{
    margin: 17px;
    border-radius: 10px;
    box-shadow: 1px 0px 3px black;
}
img:hover{
    box-shadow: 1px 5px 18px black;
    transform: scale(1.2);
}
/* video styles */
#uploadedVideo{
    margin: 10px 0;
}

#video-container,#image-container,#all-posts{
    display: grid;
    grid-template-columns: auto auto auto;
   background-color: rgb(241, 241, 241);
   padding: 10px;

}
.videos{
    display: flex;
}
video{
    margin:20px;
}
.uploadedImage{
    width: 300px;
    height: 200px;
}